- content_for(:subtitle) do
  %h1 We're glad you're excited about self improvement! <br> Now create a password to save all your personalized information!

= render :partial => 'create_password'
/ = form_for resource, :as => resource_name, :url => confirm_path do |form|
/   = devise_error_messages!
/   = form.inputs do
/     = form.input :password, :input_html => {:autofocus => true}
/     = form.input :password_confirmation
/     = form.input :confirmation_token, :as => :hidden, :value => @original_token
/   = form.submit 'Confirm Account'
