.sub-headline
  %span Learn how to use
  %span.left-bracket {
  %ul
    %li food
    %li sleep
    %li mindfulness
    %li exercise
    %li habits
  %span.right-bracket }
  %span to control your
  %span.left-bracket {
  %ul
    %li cravings
    %li hunger
    %li weight
    %li engergy
    %li mood
  %span.right-bracket }
