#landing-sub-headline
  .verb Learn how to use
  .left-bracket {
  .inside-bracket
    %ul
      %li food
      %li sleep
      %li mindfulness
      %li exercise
      %li habits
  .right-bracket }
  .verb to control your
  .left-bracket {
  .inside-bracket.decrease-side-margins
    %ul
      %li cravings
      %li hunger
      %li weight
      %li energy
      %li mood
  .right-bracket }
