#personalization-survey
  %h1 THE BODY TEST
  .content-box
    %h1 Tell us about your healthy lifestyle goals

    .primer-wrapper
      #p13n-box
        = form_for @personalization_survey, url: personalization_surveys_path(@personalization_survey) do |survey|
          .goal
            How energetic are you?
            = survey.select(:goal, options_for_select(@goal_answers_hash))
          .understand
          .obstacles
          .learn

          .energy
          .self-experiements
          .water
          .morning
          .vegetables
          .exercise
          .hunger
          .junkfood


          = survey.submit "Take the next Step!"


