#personalization-survey
  %h1 THE BODY TEST
  .content-box
    %h1 Tell us about your habits

    .primer-wrapper
      #p13n-box
        = form_for @personalization_survey do |survey|


          = survey.submit "Take the next Step!"


