@import 'variables'

#footer
  font-family: Gotham Round
  font-weight: 300
  padding-top: $stdMargin * 1.5
  padding-bottom: $stdPadding * 5
  display: block
  float: none
  margin: 0px auto
  opacity: 0.8
  font-size: 11px

  ul
    list-style: none
    padding-left: 0

    li
      display: inline-block

    a
      color: $white
      text-decoration: none

    .copyright
      display: inline-block
      float: left
      text-align: left
      width: 50%

    .links
      display: inline-block
      float: right
      text-align: right
      width: 50%
