@import 'variables'

#welcome
  h1
    color: $white
  text-align: center
  margin: 0px auto
  width: 60%

  .content-box
    display: block

  .sub-headline
    display: inline-block
    width: 720px
    font-family: GothamRoundedMedium
    font-size: 18px
    font-weight: 300
    color: $yellow
    ul
      width: 100px
      margin: 0px
      padding: 0px
      list-style: none

  .primer-wrapper
    color: $white
    margin-top: $stdMargin*2
    padding: $stdPadding

#signup-box
  background-color: $dark-gray
  background: rgba($dark-gray, 0.8)

