@import 'variables'

#topsection
  .sub-headline
    display: inline-block
    width: 720px
    font-family: GothamRoundedMedium
    font-size: 18px
    font-weight: 300
    color: $yellow
    ul
      display: inline-block
      width: 100px
      margin: 0px
      padding: 0px
      list-style: none
