#footer
  %ul
    .copyright
      %li= 'Copyright The Body Test © 2014. All rights reserved.'
    .links
      %li= link_to('Pricing |', 'http://www.thebodytest.com/pricing/')
      %li= link_to('Terms and Policies |', 'http://www.thebodytest.com/terms-and-policies/')
      %li= link_to('Contact', 'http://www.thebodytest.com/contact/')
